# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Secrets
.env
.env.*

# Databases
*.db
*.sqlite
*.sqlite3

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# OS / editor
.DS_Store
Thumbs.db
.vscode/

*.docx
.terraform.lock.hcl